<p>
  <b>Title:</b>
  <%=h @publication.title %>
</p>

<p>
  <b>Startpage:</b>
  <%=h @publication.startpage %>
</p>

<p>
  <b>Endpage:</b>
  <%=h @publication.endpage %>
</p>

<p>
  <b>Howpublished:</b>
  <%=h @publication.howpublished %>
</p>

<p>
  <b>Key:</b>
  <%=h @publication.key %>
</p>

<p>
  <b>Volume:</b>
  <%=h @publication.volume %>
</p>

<p>
  <b>Issue:</b>
  <%=h @publication.issue %>
</p>

<p>
  <b>Abstract:</b>
  <%=h @publication.abstract %>
</p>

<p>
  <b>Year:</b>
  <%=h @publication.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @publication.month %>
</p>

<p>
  <b>Series:</b>
  <%=h @publication.series %>
</p>

<p>
  <b>Publishedin:</b>
  <%=h @publication.publishedin %>
</p>

<p>
  <b>Note:</b>
  <%=h @publication.note %>
</p>

<p>
  <b>Pubtype:</b>
  <%=h @publication.pubtype %>
</p>

<p>
  <b>Priority:</b>
  <%=h @publication.priority %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>